*
{
    margin: 0;
    padding: 0;
}
body
{
    /* background: linear-gradient(135deg,violet,blue); */
    background-image:url('cover.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    backdrop-filter: blur(10px);
}
.container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 500px;
    border-color: white;
    border-width:1px;
    width: 100%;
    max-width: 540px;
    height: 600px;
    border-style: solid;
    backdrop-filter:blur(100px);
    border-radius: 20px;
    position: relative;
}
.formdata
{
   padding: 10px;
   position: absolute;
   left: 0;
   top:20px;
}
.formdata h1
{
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    text-transform:uppercase;
    font-weight: 100;
    padding: 10px;
    margin-right: 100px;
}
#forms
{
    position:absolute;
    margin-left: 10px;
    width: 100%;
    /* background-color: rgb(59, 138, 138); */
}
.input-data
{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;   
}
.input-data label
{
    padding-bottom: 10px;
    color:white;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input-data input
{
    width: 90%;
    padding: 10px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: white 2px solid;
    border-radius: 10px;
    /* border-style: solid;
    border-width: 2px;
    border-radius: 10px; */
    background:transparent;

}
input::placeholder
{
   color:white;
   text-align: left;
   font-size: 16px;
   padding: 10px;
   font-family: 'Times New Roman', Times, serif;
}
.btn
{
    padding: 10px;
    margin-top: 15px;
}
.btn button
{
    padding: 10px;
    background-color: antiquewhite;
    width: 100%;
    cursor: pointer;
    outline: none;
    border-radius: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 16px;
     border: none;
}
.btn button:hover
{
    color: white;
    background-color: cornflowerblue;
}
.link
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}
.link a
{
    
    font-size: 20px;
    color:blue;
    font-weight: 100;
}
.link a:hover
{
    color: white;
    text-shadow: rgb(234, 234, 245);
}
.error-message
{
    color:red;
}

